*{
    box-sizing: border-box; /*sirve para que los elementos no crezcan mas alla del tamano que le dimos*/
    margin: 0;
}

html{
    scroll-behavior: smooth;/*scroll se vea mas elegante*/
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color:#F2CAB3;
}

h1{font-size: 3.5em;}
h2{font-size: 2.73em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;} /*le sacamos los puntos a la lista*/
li{font-size: 2.25em;}

button{
    font-size: 1.5em;
    font-weight: bold; /*negrita*/
    padding: 10px 30px;
    border-radius: 10px; /*borde redondo*/
    border: 1px solid #BF5E26;
    box-shadow: 2px 2px 7px #0D0409;/*sombras*/
    color: white;
    background-color: #BF5E26;
}

button:hover{
    background-color: #93A603;
    border: 1px solid #93A603;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: #93A603;} /*el color de acento*/

header{
    background-color: #0D0409;
    color: white;
}

/*seleccionamos el logo*/
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #93A603;
    font-size: 1.65em;
}

header .container{
    display: flex;
    flex-direction: column;/*hace que las cosas se ordenen en una columna*/
    align-items: center; /*para centrarlo horizontalmente*/
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;/*texto alineado*/
    padding-bottom: 25px;
}

/*seleccionamos los links*/
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white; /*NOTA: Modificar colores*/
}

header a:hover{
    color: #F2955E;
}


/*modo mobile*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*ponemos un filtro negro*/
        rgba(0,0,0,0.5)
    )
    ,url(https://s1.1zoom.me/big0/828/Fast_food_Pizza_Tomatoes_437243.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    padding-bottom: 15px;
}

#hero button{
    font-size: 2.7em;
}

#somos-pizzeria-kiki .container{
    text-align: center;
    padding: 200px 12px;
}

#somos-pizzeria-kiki h2{
    margin-top: 0px;
}

#gustos-mas-populares{
    background-color: #01260E;
    color: white;
    text-align: center;
}

#gustos-mas-populares h2{
    margin-top: 0;
    font-size: 3.2em;
}

#gustos-mas-populares .container{
    padding: 150px 12px;
}

#gustos-mas-populares p{
    display: none;
}
#gustos-mas-populares .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*ponemos un filtro negro*/
        rgba(0,0,0,0.5)
    )
    ,url(https://imag.bonviveur.com/pizza-margarita_1000.webp);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*ponemos un filtro negro*/
        rgba(0,0,0,0.5)
    )
    ,url(https://unareceta.com/wp-content/uploads/2014/05/pizza-4-quesos.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /*ponemos un filtro negro*/
        rgba(0,0,0,0.5)
    )
    ,url(https://saboresmendoza.com/wp-content/uploads/2024/02/pizza-napo-768x512.jpg);
}

#beneficios .container{
    text-align: left;
    padding: 200px 12px;
}

#beneficios li{
    margin: 15px 0px;
    font-weight: bold;
}

#haz-tu-pedido{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    background-color: #01260E;
    color: white;
}

#haz-tu-pedido h2{
    font-size: 6vw;
    padding-bottom: 20px;
}

#haz-tu-pedido button{
    font-size: 3.5vw;
}

footer{
    background-color: #0D0409;
}

footer p{
    margin: 0;
    color: white;
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*respondive en pantallas mas grandes*/

@media (min-width: 720px){ /*esto significa que cuendo el ancho de la pantalla supere los 720px se tienen que aplicar los estilos siguientes*/
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }

    #somos-pizzeria-kiki h2{
        margin-top: 0px;
    }

    #somos-pizzeria-kiki .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-pizzeria-kiki .texto-somos-kiki{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #somos-pizzeria-kiki .img-container{
        background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/76/f0/71/pizze-varie-di-gianni.jpg?w=1000&h=-1&s=1);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
    
    #gustos-mas-populares .pizzas{
        display: flex;
        justify-content: center;
    }

    #gustos-mas-populares p{
        display: block;
        margin-bottom: 30px;
        text-shadow: 1px 1px 3px #0D0409;
    }

    #gustos-mas-populares h3{
        margin-top: 0;
        margin-bottom: 20px;
    }

    #gustos-mas-populares .carta{
        padding: 15px;
        box-shadow: 3px 3px 7px #0d040962;
    }
    
    #beneficios{
        background-image: url(https://p4.wallpaperbetter.com/wallpaper/165/200/910/food-pizza-cheese-wallpaper-preview.jpg);
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px);
    }

    #beneficios .container{
        text-align: initial;
    }

    #beneficios ul{
        margin-left: 100px;
    }

    footer .container{
        justify-content:flex-end;
    }
}

@media (min-width: 1100px){
    #beneficios{
        background-position-x: calc(100vw - 800px);
    }
}